@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
  box-sizing: border-box;
}
/* global css  */
h1 {
  font-size: 50px;
  line-height: 64px;
  color: #222;
}
h2 {
  font-size: 46px;
  line-height: 54px;
  color: #222;
}
h4 {
  font-size: 20px;
  color: #222;
}
h6 {
  font-weight: 700;
  font-size: 12px;
}
p {
  font-size: 16px;
  color: #465b52;
  margin: 15px 0 20px 0;
}
.section-p1 {
  padding: 40px 80px;
}
.section-m1 {
  margin: 40px 0;
}
button.normal {
  font-size: 14px;
  font-weight: 600;
  padding: 11px 28px;
  color: #000;
  background-color: #fff;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.2s;
}
button.white {
  font-size: 13px;
  font-weight: 600;
  padding: 11px 18px;
  color: #fff;
  background-color: transparent;
  cursor: pointer;
  border: 1px solid #fff;
  outline: none;
  transition: 0.2s;
}
/* header section  */
#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 80px;
  background: #e3e6f3;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  position: sticky;
  left: 0;
  top: 0;
  z-index: 999;
}
/* .logo{
    height: 50px;
} */
#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}
#navbar li {
  list-style: none;
  padding: 0 20px;
  position: relative;
}
#navbar li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #1a1a1a;
  transition: 0.3s ease;
}
#navbar li a:hover,
#navbar li a.active {
  color: #088178;
}
#navbar li a.active::after,
#navbar li a:hover::after {
  content: "";
  width: 30%;
  height: 2px;
  background: #088178;
  position: absolute;
  left: 20px;
  bottom: -4px;
}
#mobile {
  display: none;
  align-items: center;
}
#close {
  display: none;
}
/* home page  */
#main {
  background-image: url(../images/main_image.png);
  width: 100%;
  height: 90vh;
  background-position: top 25% right 0;
  background-size: cover;
  padding: 0 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
#main h4 {
  padding-bottom: 15px;
}
#main h1 {
  color: #088178;
}
#main button {
  background-image: url(../images/button.png);
  background-color: transparent;
  border: 0;
  color: #088178;
  background-repeat: no-repeat;
  cursor: pointer;
  padding: 14px 80px 14px 65px;
  font-weight: 700;
  font-size: 15px;
}
#feature {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
#feature .fe-box {
  width: 180px;
  text-align: center;
  padding: 25px 15px;
  box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
  border: 1px solid #cce7d0;
  border-radius: 4px;
  margin: 15px 0;
}
#feature .fe-box:hover {
  box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);
}
#feature .fe-box img {
  width: 100%;
  margin-bottom: 10px;
}
#feature .fe-box h6 {
  display: inline-block;
  padding: 9px 8px 6px 8px;
  line-height: 1;
  border-radius: 4px;
  color: #088178;
  background-color: #fddde4;
}
#feature .fe-box:nth-child(2) h6 {
  background-color: #cdebbc;
}
#feature .fe-box:nth-child(3) h6 {
  background-color: #d1e8f2;
}
#feature .fe-box:nth-child(4) h6 {
  background-color: #cdd4f8;
}
#feature .fe-box:nth-child(5) h6 {
  background-color: #f6dbf6;
}
#feature .fe-box:nth-child(6) h6 {
  background-color: #fff2e5;
}
#products {
  text-align: center;
}
#products .pro-container {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  flex-wrap: wrap;
}
#products .pro {
  width: 23%;
  min-width: 250px;
  padding: 10px 12px;
  border: 1px solid #cce7d0;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
  transition: 0.2 ease;
  position: relative;
  margin: 10px;
}
#products .pro:hover {
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}
#products .pro img {
  width: 100%;
  border-radius: 20px;
  margin: 15px 0;
}
#products .pro .des {
  text-align: start;
  padding: 10px 0;
}
#products .pro .des span {
  color: #606063;
  font-size: 12px;
}
#products .pro .des h5 {
  padding-top: 7px;
  color: #1a1a1a;
  font-size: 14px;
}
#products .pro .des i {
  font-size: 12px;
  color: rgb(243, 181, 25);
}
#products .pro .des h4 {
  padding-top: 7px;
  font-size: 15px;
  font-weight: 700;
  color: #088178;
}
#products .pro .cart {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50px;
  background-color: #e8f6ea;
  font-weight: 500;
  color: #088178;
  border: 1px solid #cce7d0;
  position: absolute;
  bottom: 20px;
  right: 10px;
}
/* banner  */
#banner {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-image: url(../images/banner/b2.jpg);
  width: 100%;
  height: 40vh;
  background-size: cover;
  background-position: center;
}
#banner h4 {
  color: #fff;
  font-size: 16px;
}
#banner h2 {
  color: #fff;
  font-size: 30px;
  padding: 10px 0;
}
#banner h2 span {
  color: #ef3636;
}
#banner button:hover {
  background: #088178;
  color: #fff;
}
/* small banner  */
#sm-banner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#sm-banner .banner-box {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  background-image: url(../images/banner/b17.jpg);
  width: 650px;
  height: 50vh;
  background-size: cover;
  background-position: center;
  padding: 30px;
}
#sm-banner .banner-box2 {
  background-image: url(../images/banner/b10.jpg);
}
#sm-banner h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 300;
}
#sm-banner h2 {
  color: #fff;
  font-size: 28px;
  font-weight: 800;
}
#sm-banner span {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  padding-bottom: 15px;
}
#sm-banner .banner-box:hover button {
  background: #088178;
  border: 1px solid #088178;
}
#banner3 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 80px;
}

#banner3 .banner-box {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  background-image: url(../images/banner/b7.jpg);
  width: 30%;
  height: 30vh;
  background-size: cover;
  background-position: center;
  padding: 20px;
  margin-bottom: 20px;
}
#banner3 .banner-box2 {
  background-image: url(../images/banner/b4.jpg);
}
#banner3 .banner-box3 {
  background-image: url(../images/banner/b18.jpg);
}
#banner3 h2 {
  color: #fff;
  font-weight: 900;
  font-size: 22px;
}
#banner3 h3 {
  color: #ec544e;
  font-weight: 800;
  font-size: 15px;
}
/* news letter  */
#news_letter {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background-image: url(../images/banner/b14.png);
  background-repeat: no-repeat;
  background-position: 20% 30%;
  background-color: #041e42;
}
#news_letter h4 {
  font-size: 22px;
  font-weight: 700;
  color: #fff;
}
#news_letter p {
  font-size: 14px;
  font-weight: 600;
  color: #818ea0;
}
#news_letter p span {
  color: #ffbd27;
}
#news_letter input {
  height: 3.125rem;
  padding: 0 1.25em;
  font-size: 14px;
  width: 62%; /* 100 */
  border: 1px solid transparent;
  border-radius: 4px;
  outline: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
#news_letter button {
  background-color: #088178;
  color: #fff;
  white-space: nowrap;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
footer .col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 30px;
}
footer .logo {
  margin-bottom: 30px;
}
footer h4 {
  font-size: 18px;
  padding-bottom: 20px;
}
footer p {
  font-size: 16px;
  margin: 0 0 8px 0;
}
footer a {
  font-size: 18px;
  text-decoration: none;
  color: #222;
  margin-bottom: 10px;
}
footer .follow {
  margin-top: 20px;
}
footer .follow i {
  color: #465b52;
  padding-right: 4px;
  cursor: pointer;
}
footer .install .row img {
  border: 2px solid #088178;
  border-radius: 6px;
}
footer .install img {
  margin: 10px 0 15px 0;
}
footer .follow i:hover,
footer a:hover {
  color: #088178;
}
footer .copyright {
  width: 100%;
  text-align: center;
}

/* shop page  */
#shop_header {
  background-image: url(../images/banner/b1.jpg);
  width: 100%;
  height: 40vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 14px;
}
#shop_header h2,
#shop_header p {
  color: #fff;
}
#shop_header p {
  font-size: 21px;
}
#pagination {
  text-align: center;
}
#pagination a {
  text-decoration: none;
  background-color: #088178;
  padding: 15px 20px;
  border-radius: 4px;
  color: #fff;
  font-weight: 600;
}
#pagination a i {
  font-size: 16px;
  font-weight: 600;
}
/* shop products  */
#prod_details {
  display: flex;
  margin-top: 20px;
}
#prod_details .single_pro_image {
  width: 40%;
  margin-right: 50px;
}
.small_img_grp {
  display: flex;
  justify-content: space-between;
}
.small_img_col {
  flex-basis: 24%;
  cursor: pointer;
}
#prod_details .single_pro_details {
  width: 50%;
  padding-top: 30px;
}
#prod_details .single_pro_details h4 {
  padding: 40px 0 20px 0;
}
#prod_details .single_pro_details h2 {
  font-size: 26px;
}
#prod_details .single_pro_details select {
  display: block;
  padding: 5px 10px;
  margin-bottom: 10px;
}
#prod_details .single_pro_details input {
  width: 50px;
  height: 47px;
  padding-left: 10px;
  font-size: 16px;
  margin-right: 10px;
}
#prod_details .single_pro_details input:focus {
  outline: none;
}
#prod_details .single_pro_details button {
  background: #088178;
  color: #fff;
}
#prod_details .single_pro_details span {
  line-height: 25px;
}

/* blog page  */
#shop_header.blog_header {
  background-image: url("../images/banner/b19.jpg");
}
#blog {
  padding: 150px 150px 0 150px;
}
#blog .blog_box {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
  padding-bottom: 90px;
}
#blog .blog_img {
  width: 50%;
  margin-right: 40px;
}
#blog img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
#blog .blog_details {
  width: 50%;
}
#blog .blog_details a {
  text-decoration: none;
  font-size: 15px;
  color: #000;
  font-weight: 700;
  position: relative;
  transition: 0.3s;
}
#blog .blog_details a::after {
  content: "";
  width: 50px;
  height: 2px;
  background-color: #000;
  position: absolute;
  top: 9px;
  right: -60px;
}
#blog .blog_details a:hover{
  color: #088178;
}
#blog .blog_details a:hover::after{
  background-color: #088178;
}
#blog .blog_box h1{
  position: absolute;
  top: -43px;
  left: 0;
  font-size: 70px;
  font-weight: 700;
  color: #c9cbce;
  z-index: -9;
}
/* about page  */
#shop_header.about_header{
  background-image: url(../images/about/banner.png);
}
#about_head{
  display: flex;
  align-items: center;
}
#about_head img{
  width: 50%;
  height: auto;
}
#about_head div{
  width: 50%;
  padding-left: 40px;
}
#about_app{
  text-align: center;
}
#about_app .video{
  width: 70%;
  height: 100%;
  margin: 30px auto 0 auto;
}
#about_app .video video{
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
/* contact page  */
#contact_details{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#contact_details .details{
  width: 40%;
}
#contact_details .details span,
#form_details form span{
  font-size: 14px;
}
#contact_details .details h2,
#form_details form h2{
  font-size: 28px;
  line-height: 35px;
  padding: 20px 0;
}
#contact_details .details h3{
  font-size: 16px;
  padding-bottom: 15px;
}
#contact_details .details li{
  list-style: none;
  display: flex;
  padding: 10px 0;
}
#contact_details .details li i{
  font-size: 16px;
  padding-right: 22px;
}
#contact_details .details li p{
  margin: 0;
  font-size: 16px;
}
#contact_details .map{
  width: 55%;
  height: 400px;
}
#contact_details .map iframe{
  width: 100%;
  height: 100%;
}
#form_details{
  display: flex;
  justify-content: space-between;
  margin: 30px;
  padding: 80px;
  border: 1px solid #e1e1e1;
}
#form_details form{
  width: 65%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
#form_details form input,
#form_details form textarea{
  width: 100%;
  padding: 12px 15px;
  outline: none;
  margin-bottom: 20px;
  border: 1px solid #e1e1e1;
}
#form_details form button{
  background-color: #088178;
  color: #fff;
}
#form_details .people div{
  padding-bottom: 25px;
  display: flex;
  align-items: flex-start;
}
#form_details .people div img{
  width: 65px;
  height: 65px;
  object-fit: cover;
  margin-right: 15px;
}
#form_details .people div p{
  margin: 0;
  font-size: 13px;
  line-height: 25px;
}
#form_details .people div p span{
  display: block;
  font-size: 16px;
  font-weight: 600;
  color: #000;
}
/* cart page  */
#cart{
  overflow-x: auto;
}
#cart table{
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  white-space: nowrap ;
}
#cart table img{
  width: 80px;
}
#cart table td:nth-child(1){
  width: 100px;
  text-align: center;
}
#cart table td:nth-child(2){
  width: 150px;
  text-align: center;
}
#cart table td:nth-child(3){
  width: 250px;
  text-align: center;
}
#cart table td:nth-child(4),
#cart table td:nth-child(5),
#cart table td:nth-child(6){
  width: 150px;
  text-align: center;
}
#cart table td:nth-child(5) input{
  width: 70px;
  padding: 10px 5px 10px 15px;
}
#cart table thead{
  border: 1px solid #e2e9e1;
  border-left: none;
  border-right: none;
}
#cart table thead td{
  font-weight: 700;
  text-transform: uppercase;
  font-size: 18px;
  padding: 18px 0;
}
#cart table tbody tr td{
  padding-top: 15px;
}
#cart table tbody td{
  font-size: 13px;
}
#cart_add{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#coupon{
  width: 50%;
  margin-bottom: 30px;
}
#coupon h3,
#sub_total h3{
  padding-bottom: 18px;
}
#coupon input{
  padding: 10px 20px;
  outline:  none;
  width: 60%;
  margin-right: 10px;
  border: 1px solid #e2e9e1;
}
#coupon button,
#sub_total button{
  background-color: #088178;
  color: #fff;
  padding: 12px 20px;
}
#sub_total{
  width: 50%;
  margin-bottom: 30px;
  border: 1px solid #e2e9e1;
  padding: 30px;
}
#sub_total table{
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
}
#sub_total table td{
  width: 50%;
  border: 1px solid #e2e9e1;
  padding: 10px;
  font-size: 15px;
}










/* media query  */
@media (max-width: 799px) {
  .section-p1 {
    padding: 40px 40px;
  }
  #navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    right: -300px;
    height: 100vh;
    width: 300px;
    background-color: #e3e6f3;
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
    padding: 80px 0 0 10px;
    transition: 0.3s;
  }
  #navbar.active {
    right: 0px;
  }
  #navbar li {
    margin-bottom: 25px;
  }
  #mobile {
    display: flex;
    align-items: center;
  }
  #mobile i {
    color: #1a1a1a;
    font-size: 24px;
    padding-left: 20px;
  }
  #close {
    position: absolute;
    display: initial;
    top: 30px;
    left: 30px;
    color: #222;
    font-size: 24px;
  }
  #cart-bag {
    display: none;
  }
  #main {
    height: 70vh;
    padding: 0 80px;
    background-position: top 30% right 30%;
  }
  #feature {
    justify-content: center;
  }
  #feature .fe-box {
    margin: 15px 15px;
  }
  #products .pro-container {
    justify-content: center;
  }
  #products .pro {
    margin: 15px;
  }
  #banner {
    height: 25vh;
  }
  #sm-banner .banner-box {
    min-width: 100%;
    height: 30vh;
  }
  #banner3 {
    padding: 0 40px;
  }
  #banner3 .banner-box {
    width: 28%;
  }
  #news_letter .form {
    width: 70%;
  }
  /* contact  */
  #form_details{
    padding: 40px;
  }
  #form_details form{
    width: 50%;
  }
}
@media (max-width: 600px) {
  #about_head{
    flex-direction: column;
  }
  #about_head img{
    width: 100%;
    margin-bottom: 20px;
  }
  #about_head div {
    width: 100%;
    padding-left: 0px;
  }
  #about_app .video{
    width: 100%;
  }
}
@media (max-width: 477px) {
  .section-p1 {
    padding: 20px;
  }
  #header {
    padding: 10px 30px;
  }
  h1 {
    font-size: 38px;
  }
  h2 {
    font-size: 32px;
  }
  #main {
    padding: 0 20px;
    background-position: 60%;
  }
  #feature {
    justify-content: space-between;
  }
  #feature .fe-box {
    margin: 0 0 15px 0;
    width: 155px;
  }
  #products.pro {
    width: 100%;
  }
  #banner {
    height: 35vh;
  }
  #sm-banner .banner-box {
    height: 40vh;
  }
  #sm-banner .banner-box2 {
    margin-top: 20px;
  }
  #banner3 {
    padding: 0 20px;
  }
  #banner3 .banner-box {
    width: 100%;
  }
  #news_letter {
    padding: 40px 20px;
  }
  #news_letter .form {
    width: 100%;
  }
  /* footer .copyright{
    text-align: start;
  } */

  /* single product  */
  #prod_details {
    display: flex;
    flex-direction: column;
  }
  #prod_details .single_pro_image {
    width: 100%;
    margin-right: 0px;
  }
  #prod_details .single_pro_details {
    width: 100%;
  }
  /* blog page  */
  #blog{
    padding: 100px 20px 0 20px;
  }
  #blog .blog_box{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  #blog .blog_img{
    width: 100%;
    margin-right: 0px;
    margin-bottom: 30px;
  }
  #blog .blog_details{
    width: 100%;
  }
  /* about page  */
  #about_head{
    flex-direction: column;
  }
  #about_head img{
    width: 100%;
    margin-bottom: 20px;
  }
  #about_head div {
    width: 100%;
    padding-left: 0px;
  }
  #about_app .video{
    width: 100%;
  }
  /* contact  */
  #contact_details{
    flex-direction: column;
  }
  #contact_details .details{
    width: 100%;
    margin-bottom: 30px;
  }
  #contact_details .map{
    width: 100%;
  }
  #form_details{
    margin: 10px;
    padding: 30px 10px;
    flex-wrap: wrap;
  }
  #form_details form{
    width: 100%;
    margin-bottom: 30px;
  }
  #shop_header{
    height: 27vh;
  }
  /* cart page  */
  #cart_add{
    flex-direction: column;
  }
  #coupon{
    width: 100%;
  }
  #sub_total{
    width: 100%;
    padding: 20px;
  }
}
